<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: h4"></nav>
<title>Homepage</title>
<body>

<h2 th:unless="${user.friends} and ${user.friends.size()}">Sorry, you have no friends.  You must add a friend or family member to begin.</h2>

<table th:if="${user.friends} and ${user.friends.size()}" class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Day</th>
        <th>Address</th>
        <th>Relationship to You</th>
        <th>Email</th>
        <th>&nbsp;</th>
    </tr>

    <tr th:each="friend : ${user.friends}">
        <td th:text="${friend.firstName}"></td>
        <td><a th:href="@{|/friend/view/${friend.id}|}" th:text="${friend.lastName}" ></a></td>
        <td th:text="${friend.birthday}"></td>
        <td th:text="${friend.address}"></td>
        <td th:text="${friend.relationship}"></td>
        <td th:text="${friend.email}"></td>
        <td><a th:href="@{|/remove/${friend.id}|}">Delete Friend</a></td>
    </tr>
</table>
</body>
</html>